In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver=webdriver.Chrome("chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Analyst")
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys("Bangalore")

In [5]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [6]:
url="https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore"

In [7]:
driver.get(url)

In [8]:
job_title=[]
company_names=[]
locations_list=[]
experience_list=[]

In [9]:
titles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-9")>]

In [10]:
for i in titles_tag:
    job_title.append(i.text)
job_title[0:9]

['MIS/ Data Analyst-(SQL,Automation,Excel/PowerBI,Dashboards) - Contract',
 'Data Analyst - SAP',
 'Hiring Data Analysts on Contract',
 'Senior Data Analyst',
 'Data Analyst',
 'Data Analyst -Azure Data lake, Azure Data factory',
 'Business / Data Analyst',
 'Data Analyst - O2C - Bangalore',
 'Intern Data Analyst']

In [11]:
company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-29")>]

In [12]:
for i in company_tag:
    company_names.append(i.text)
company_names[0:9]

['Flipkart Internet Private Limited',
 'Boston Scientific Corporation',
 'Flipkart Internet Private Limited',
 'Schneider Electric',
 'Shell India Markets Private Limited',
 'Mindtree Limited',
 'IBM India Pvt. Limited',
 'RANDSTAD INDIA PVT LTD',
 'Outsource Big Data']

In [13]:
loc_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-49")>]

In [14]:
for i in loc_tag:
    locations_list.append(i.text)
locations_list[0:9]

['Bengaluru',
 'Pune, Delhi, Bengaluru, Gurgaon',
 'Bengaluru',
 'Bengaluru / Bangalore',
 'Bengaluru',
 'Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [15]:
exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="7ef28d0e3c94c929e29becb0f5438817", element="0.8606819729331268-69")>]

In [16]:
for i in exp_tag:
    experience_list.append(i.text)
experience_list[0:9]

['1-4 Yrs',
 '3-5 Yrs',
 '2-5 Yrs',
 '2-5 Yrs',
 '5-8 Yrs',
 '5-9 Yrs',
 '2-4 Yrs',
 '2-4 Yrs',
 '0-1 Yrs']

In [17]:
import pandas as pd
DataAnalyst=pd.DataFrame()
DataAnalyst['JOB_NAME']=job_title[0:9]
DataAnalyst['COMPANY']=company_names[0:9]
DataAnalyst['JOB_LOCATION']=locations_list[0:9]
DataAnalyst['EXPERIENCE']=experience_list[0:9]

In [18]:
DataAnalyst

,JOB_NAME,COMPANY,JOB_LOCATION,EXPERIENCE
0,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB...",Flipkart Internet Private Limited,Bengaluru,1-4 Yrs
1,Data Analyst - SAP,Boston Scientific Corporation,"Pune, Delhi, Bengaluru, Gurgaon",3-5 Yrs
2,Hiring Data Analysts on Contract,Flipkart Internet Private Limited,Bengaluru,2-5 Yrs
3,Senior Data Analyst,Schneider Electric,Bengaluru / Bangalore,2-5 Yrs
4,Data Analyst,Shell India Markets Private Limited,Bengaluru,5-8 Yrs
5,"Data Analyst -Azure Data lake, Azure Data factory",Mindtree Limited,"Chennai, Pune, Bengaluru, Hyderabad",5-9 Yrs
6,Business / Data Analyst,IBM India Pvt. Limited,Bengaluru,2-4 Yrs
7,Data Analyst - O2C - Bangalore,RANDSTAD INDIA PVT LTD,Bengaluru,2-4 Yrs
8,Intern Data Analyst,Outsource Big Data,Bengaluru,0-1 Yrs