In [1]:
import selenium
import pandas as pd
from selenium import webdriver

In [2]:
driver=webdriver.Chrome("chromedriver.exe")

In [3]:
driver.get("https://www.naukri.com/")

In [4]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys("Data Scientist")

In [5]:
search_btn=driver.find_element_by_xpath("//div[@title='search-btn']/button")
search_btn.click()

In [7]:
search_checkbox1=driver.find_element_by_xpath("//span[@title='Delhi/NCR']")
search_checkbox1.click()

In [8]:
search_checkbox2=driver.find_element_by_xpath("//span[@title='3-6 Lakhs']")
search_checkbox2.click()

In [9]:
url="https://www.naukri.com/data-scientist-jobs?k=data%20scientist&cityType=25.9.31&ctcFilter=3to6"

In [10]:
driver.get(url)

In [11]:
job_title=[]
company_names=[]
locations_list=[]
experience_list=[]

In [12]:
titles_tag=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-9")>]

In [13]:
for i in titles_tag:
    job_title.append(i.text)
job_title[0:9]

['Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - Computer Vision',
 'Data Scientist - Machine Learning/ NLP',
 'Only Fresher / Data Scientist / Data Analyst / Analytics - MNC',
 'Data Scientist',
 'Data Scientist - Tableau/Power BI',
 'GCP Skilled Analytics Resources (Data engineer / Data scientists)',
 'Data Scientist - IT']

In [14]:
company_tag=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-29")>]

In [15]:
for i in company_tag:
    company_names.append(i.text)
company_names[0:9]

['Country Veggie',
 'IBM India Pvt. Limited',
 'IRIS SOFTWARE Inc',
 'TalPro',
 'GABA Consultancy services',
 'Ciena',
 'Talent Stock Solutions',
 'Aerial Telecom Solutions Pvt. Ltd.',
 'Ehireo']

In [16]:
loc_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
loc_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-49")>]

In [17]:
for i in loc_tag:
    locations_list.append(i.text)
locations_list[0:9]

['Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Bengaluru, Gurgaon, Agra, Bharuch, Jaunpur, Nagpur, Delhi, Mumbai, Jaipur, Jhansi',
 'Gurgaon Gurugram',
 'Delhi NCR',
 'Gurgaon Gurugram',
 'Delhi NCR, Noida, Gurgaon',
 'Gurgaon Gurugram',
 'Delhi',
 'Pune, Bengaluru, Gurgaon',
 'Gurgaon']

In [18]:
exp_tag=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
exp_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0ac08282accefe8c83f1418179dac179", element="0.0758185022803366-69")>]

In [19]:
for i in exp_tag:
    experience_list.append(i.text)
experience_list[0:9]

['1-3 Yrs',
 '4-8 Yrs',
 '4-9 Yrs',
 '2-6 Yrs',
 '0-0 Yrs',
 '5-6 Yrs',
 '1-3 Yrs',
 '3-8 Yrs',
 '4-9 Yrs']

In [21]:
import pandas as pd
DataScientist=pd.DataFrame()
DataScientist['JOB_NAME']=job_title[0:9]
DataScientist['COMPANY']=company_names[0:9]
DataScientist['JOB_LOCATION']=locations_list[0:9]
DataScientist['EXPERIENCE']=experience_list[0:9]

In [22]:
DataScientist

,JOB_NAME,COMPANY,JOB_LOCATION,EXPERIENCE
0,Data Scientist,Country Veggie,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be...",1-3 Yrs
1,Data Scientist,IBM India Pvt. Limited,Gurgaon Gurugram,4-8 Yrs
2,Senior Data Scientist - Computer Vision,IRIS SOFTWARE Inc,Delhi NCR,4-9 Yrs
3,Data Scientist - Machine Learning/ NLP,TalPro,Gurgaon Gurugram,2-6 Yrs
4,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Delhi NCR, Noida, Gurgaon",0-0 Yrs
5,Data Scientist,Ciena,Gurgaon Gurugram,5-6 Yrs
6,Data Scientist - Tableau/Power BI,Talent Stock Solutions,Delhi,1-3 Yrs
7,GCP Skilled Analytics Resources (Data engineer...,Aerial Telecom Solutions Pvt. Ltd.,"Pune, Bengaluru, Gurgaon",3-8 Yrs
8,Data Scientist - IT,Ehireo,Gurgaon,4-9 Yrs