In [1]:
import selenium
import pandas as pd
from selenium import webdriver
driver=webdriver.Chrome("chromedriver.exe")

In [2]:
driver.get("https://www.glassdoor.co.in/index.htm")

In [4]:
search_job=driver.find_element_by_id('sc.keyword')
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_id('sc.location')
search_loc.send_keys("Noida")

In [5]:
search_btn=driver.find_element_by_xpath("//button[@class='gd-ui-button ml-std col-auto SearchStyles__newSearchButton css-iixdfr']")
search_btn.click()

In [6]:
url="https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"

In [7]:
driver.get(url)

In [8]:
posted_days=[]
company_name=[]
Rating=[]

In [21]:
post_tag=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")
com1_tag=driver.find_elements_by_xpath("//a[@class=' css-l2wjgv e1n63ojh0 jobLink']")
rate_tag=driver.find_elements_by_xpath("//span[@class='css-19pjha7 e1cjmv6j1']")

In [22]:
for i in com1_tag:
    company_name.append(i.text)
company_name[0:9]

['Boston Consulting Group',
 'BlackRock',
 'Adobe',
 'Brickred',
 '',
 'WishFin',
 'abc consultants',
 'Gauge Data Solutions',
 'Priority Vendor']

In [13]:
for i in rate_tag:
    Rating.append(i.text)
Rating[0:9]

['3.9', '4.1', '4.4', '3.9', '3.7', '4.0', '4.1', '3.1', '3.7']

In [14]:
for i in post_tag:
    posted_days.append(i.text)
posted_days[0:9]

['24h', '13d', '9d', '26d', '15d', '18d', '7d', '7d', '7d']

In [23]:
import pandas as pd
Glassdoor=pd.DataFrame()
Glassdoor['RATING']=Rating[0:10]
Glassdoor['COMPANY_NAME']=company_name[0:10]
Glassdoor['NO_OF_DAYS_AGO_POSTED']=posted_days[0:10]

In [24]:
Glassdoor

  RATING             COMPANY_NAME NO_OF_DAYS_AGO_POSTED
0    3.9  Boston Consulting Group                   24h
1    4.1                BlackRock                   13d
2    4.4                    Adobe                    9d
3    3.9                 Brickred                   26d
4    3.7                                            15d
5    4.0                  WishFin                   18d
6    4.1          abc consultants                    7d
7    3.1     Gauge Data Solutions                    7d
8    3.7          Priority Vendor                    7d
9    4.8                    Jubna                   21d