In [5]:
import selenium
import pandas as pd
from selenium import webdriver

In [6]:
driver=webdriver.Chrome("chromedriver.exe")

In [7]:
driver.get("https://www.glassdoor.co.in/Salaries/index.htm")

In [8]:
search_job=driver.find_element_by_id('KeywordSearch')
search_job.send_keys("Data Scientist")
search_loc=driver.find_element_by_xpath("//input[@id='LocationSearch']")
search_loc.send_keys("Noida")

In [9]:
search_btn=driver.find_element_by_xpath("//button[@class='gd-btn-mkt']")
search_btn.click()

In [10]:
url='https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn'

In [11]:
driver.get(url)

In [12]:
company=[]
no_of_salaries=[]
avesal=[]
minsal=[]
maxsal=[]

In [13]:
com_tag=driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")
com_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-1")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-2")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-5")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-6")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-9")>]

In [14]:
for i in com_tag:
    company.append(i.text)
company[0:9]

['Delhivery',
 'Ericsson-Worldwide',
 'Tata Consultancy Services',
 'Accenture',
 'IBM',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Innovaccer',
 'Cognizant Technology Solutions']

In [15]:
sal_tag=driver.find_elements_by_xpath("//div[@data-test='job-info']/p[5]")
sal_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-21")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-22")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-23")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-24")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-25")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-26")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-27")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-29")>]

In [16]:
for i in sal_tag:
    no_of_salaries.append(i.text)
no_of_salaries[0:9]

['13 salaries',
 '12 salaries',
 '11 salaries',
 '10 salaries',
 '10 salaries',
 '9 salaries',
 '8 salaries',
 '7 salaries',
 '6 salaries']

In [17]:
avg_tag=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
avg_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-41")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-42")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-43")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-44")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-45")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-46")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-48")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-49")>]

In [18]:
for i in avg_tag:
    avesal.append(i.text)
avesal[0:9]

['₹ 12,64,182\n/yr',
 '₹ 7,30,968\n/yr',
 '₹ 6,00,000\n/yr',
 '₹ 9,94,055\n/yr',
 '₹ 7,39,040\n/yr',
 '₹ 13,37,114\n/yr',
 '₹ 7,80,374\n/yr',
 '₹ 11,98,792\n/yr',
 '₹ 10,08,143\n/yr']

In [19]:
min_tag=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")
min_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-61")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-62")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-63")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-64")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-65")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-66")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-67")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-68")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-69")>]

In [24]:
for i in min_tag:
    minsal.append(i.text)
minsal[0:9]

['₹450K',
 '₹350K',
 '₹336K',
 '₹577K',
 '₹587K',
 '₹717K',
 '₹502K',
 '₹621K',
 '₹793K']

In [22]:
max_tag=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")
max_tag[0:9]

[<selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-81")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-82")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-84")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-85")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-86")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-87")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-88")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0b463896af8fd16950db02adbaf2c4f1", element="0.08040960241336492-89")>]

In [23]:
for i in max_tag:
    maxsal.append(i.text)
maxsal[0:9]

['₹11,630K',
 '₹1,614K',
 '₹1,010K',
 '₹2,215K',
 '₹2,732K',
 '₹1,575K',
 '₹1,152K',
 '₹1,696K',
 '₹1,264K']

In [ ]:
company=[]
no_of_salaries=[]
avesal=[]
minsal=[]
maxsal=[]

In [26]:
import pandas as pd
DataScientist_salary=pd.DataFrame()
DataScientist_salary['COMPANY']=company[0:9]
DataScientist_salary['NO_OF_SALARIES']=no_of_salaries[0:9]
DataScientist_salary['AVG_SALARY']=avesal[0:9]
DataScientist_salary['MINIMUM_SALARY']=minsal[0:9]
DataScientist_salary['MAXIMUM_SALARY']=maxsal[0:9]

In [27]:
DataScientist_salary

,COMPANY,NO_OF_SALARIES,AVG_SALARY,MINIMUM_SALARY,MAXIMUM_SALARY
0,Delhivery,13 salaries,"₹ 12,64,182\n/yr",₹450K,"₹11,630K"
1,Ericsson-Worldwide,12 salaries,"₹ 7,30,968\n/yr",₹350K,"₹1,614K"
2,Tata Consultancy Services,11 salaries,"₹ 6,00,000\n/yr",₹336K,"₹1,010K"
3,Accenture,10 salaries,"₹ 9,94,055\n/yr",₹577K,"₹2,215K"
4,IBM,10 salaries,"₹ 7,39,040\n/yr",₹587K,"₹2,732K"
5,UnitedHealth Group,9 salaries,"₹ 13,37,114\n/yr",₹717K,"₹1,575K"
6,Valiance Solutions,8 salaries,"₹ 7,80,374\n/yr",₹502K,"₹1,152K"
7,Innovaccer,7 salaries,"₹ 11,98,792\n/yr",₹621K,"₹1,696K"
8,Cognizant Technology Solutions,6 salaries,"₹ 10,08,143\n/yr",₹793K,"₹1,264K"